PuzzleUp2019/bin/Debug/netcoreapp2.1/PuzzleUp2019.runtimeconfig.dev.json
PuzzleUp2019/bin/Debug/netcoreapp2.1/PuzzleUp2019.dll
PuzzleUp2019/bin/Debug/netcoreapp2.1/PuzzleUp2019.pdb
PuzzleUp2019/bin/Debug/netcoreapp2.1/PuzzleUp2019.deps.json
PuzzleUp2019/bin/Debug/netcoreapp2.1/PuzzleUp2019.runtimeconfig.json
PuzzleUp2019/obj/PuzzleUp2019.csproj.nuget.cache
PuzzleUp2019/obj/PuzzleUp2019.csproj.nuget.dgspec.json
PuzzleUp2019/obj/PuzzleUp2019.csproj.nuget.g.props
PuzzleUp2019/obj/PuzzleUp2019.csproj.nuget.g.targets
PuzzleUp2019/obj/project.assets.json
PuzzleUp2019/obj/Debug/netcoreapp2.1/PuzzleUp2019.dll
PuzzleUp2019/obj/Debug/netcoreapp2.1/PuzzleUp2019.pdb
PuzzleUp2019/obj/Debug/netcoreapp2.1/PuzzleUp2019.AssemblyInfo.cs
PuzzleUp2019/obj/Debug/netcoreapp2.1/PuzzleUp2019.AssemblyInfoInputs.cache
PuzzleUp2019/obj/Debug/netcoreapp2.1/PuzzleUp2019.assets.cache
PuzzleUp2019/obj/Debug/netcoreapp2.1/PuzzleUp2019.csproj.CoreCompileInputs.cache
PuzzleUp2019/obj/Debug/netcoreapp2.1/PuzzleUp2019.csproj.FileListAbsolute.txt
PuzzleUp2019/obj/Debug/netcoreapp2.1/PuzzleUp2019.csprojAssemblyReference.cache
